{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="homepage">
    <div class="home-background">
        <div class="welcome-text">
            <h2>Explore an extraordinary range of plants, from rare flowers to common favorites!</h2>
        </div>
        
        <div class="search-bar">
            <input type="text" placeholder="Search for plants" aria-label="Search for plants">
            <a href="{% url 'plants_app:search_plants_view' %}">
                <button>Search</button>
            </a>
        </div>
    </div>
    
    <div class="basic-background">
        <div class="featured-plants">
            <h2>Featured Plants</h2>
            <div class="plant-grid">  
                {% for plant in plants|slice:":4" %} 
                <div class="plant-card">
                    <img src="{{ plant.image.url }}" class="plant-image" alt="{{ plant.name }}"/> 
                    <div class="plant-info">
                        <h3>{{ plant.name }}</h3>
                        <h5>{{ plant.category }}</h5>
                        <a href="{% url 'plants_app:plants_detail_view' plant.id %}" class="btn">More about {{ plant.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>  
            <a href="{% url 'plants_app:all_plants_view' %}" class="btn explore-more">Explore more</a>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}